{
  "presets": [
    [
      "@babel/env",
      {
        "targets": "cover 99.5% in AU, not dead",
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
